@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Sacrament Command Center</h1>
    <p>This is you one stop shop for all things sacrament meeting.</p>
</div>