/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@400;500;600;700;800&display=swap');

/*Main Styling*/

html {
    background: url("../images/Temple.jpg") no-repeat center center fixed !important;
    background-size: cover !important;
    margin: 0 auto !important;
}

@media screen and (max-width:60em) {
    html {
        background: url("../images/Temple2.jpg") no-repeat center center fixed !important;
        background-size: cover !important;
        margin: 0 auto !important;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: none !important;
}

main {
    background-color: #0A0029;
    padding: 15px;
    color: #DEEBFF;
}

h1,
h2,
h3,
h4,
nav,
th {
    font-family: 'Roboto Slab', serif;
}

th {
    font-size: 1.5em;
}

.table {
    color: #DEEBFF;
}

p {
    padding: 12px;
}

.btn {
    color: #fff;
}

.btn:hover {
        color: #90DDF0
 }

.nav-link {
    padding-right: 2em !important;
}

/*Preset Styling*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #fff;
}
